Source: macdir-simple
Section: web
Priority: optional
Maintainer: Bill MacAllister <bill@ca-zephyr.org>
Build-Depends: debhelper (>= 8), php
Standards-Version: 3.9.4

Package: macdir-simple
Architecture: all
Depends: apache2
Provides: macdir
Conflicts: macdir
Replaces: macdir
Description: Directory Maintenance Web Application
 This web application is a set of scripts that are used to maintain the 
 data in a directory server that uses the MacAllister data policies.
