body {
    background-color: #FFFFEE;
    margin:0;
    padding:0;
    border:0; 
    width:100%;
    min-width:600px;
}

#wrap {
    width:100%;
    margin:0 auto;
}

#header {
    clear:both;
    float:left;
    width:100%;
}

#header h1 {
    font-family: Arial, sans-serif;
    font-size: Larger;
    text-align: center;
    color: #660000;
}

#nav {
    float:left;
    width:15%;
}

#nav ul {
    list-style-type: none;
    line-height:1.3em;
    font-family: Arial, sans-serif;
    font-size: large;
}

#main {
    float:right;
    width:85%;
}

#main h1 {
    font-family: Arial, sans-serif;
    font-size: Huge;
    text-align: Left;
    color: #660000;
}

#main h2 {
    font-family: Arial, sans-serif;
    font-size: Large;
    text-align: Left;
    color: #660000;
}

#main th td {
    font-family: Arial, sans-serif;
}

#main p {
    margin: 2em;
}
