/* ------------------------------------------------------------ */
/* Style for full sized windows                                 */
/* ------------------------------------------------------------ */

html {
    font-family: sans-serif;
}

body {
    background-color: #ffffcc;
    max-width: 1000px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.header {
    background-color: #ffffcc;
    color: #660000;
    padding: 0px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333366;
}

.menu li {
    float: left;
    font-size: 16px;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #111111;
}

.footer {
    background-color: #ffffcc;
    color: #660000;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* The page layout is a ten column grid */
.col-1 {width: 9%;}
.col-2 {width: 19%;}
.col-3 {width: 29%;}
.col-4 {width: 39%;}
.col-5 {width: 49%;}
.col-6 {width: 59%;}
.col-7 {width: 69%;}
.col-8 {width: 79%;}
.col-9 {width: 89%;}
.col-10 {width: 100%;}

label {
    display: inline-block;
    width: 210px;
    text-align: right;
}

/* ------------------------------------------------------------ */
/* Generic table controls                                       */
/* ------------------------------------------------------------ */

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
